name: Node CI-CD (Git Pull + PM2)

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ec2-user/<repo>
            git pull origin master
            npm install
            pm2 restart nodeapp || pm2 start index.js --name nodeapp
            pm2 save
